:root {
    --background-color: rgb(9, 104, 99);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    background-color: var(--background-color);
    height: 600px;
}

.cloud-wrapper {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 1px solid white;
    color: white;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 0;
}

span {
    text-decoration: underline;
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}

.profile img {
    width: 100px;
    padding: 2rem 0; 
}

.skills {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0 2rem 0; /*top right bottom left*/
}

.skills img {
    width: 100px;
}

.skills-row {
    width: 75%;
    margin: 2rem auto 5rem auto;
}

.skills-image1 {
    float: left;
    margin-right: 2rem;
}

.skills-image2 {
    float: right;
    margin-left: 2rem;
}